


.user-component {
  display:flex;
  align-items:center;
  font-size:21px;
  font-weight:600;
  margin-top:90px;
}


.user-component__avatar--xl {
  width:80px;
  border-radius:30px;
  margin: 21px 20px 15px 20px ;

}

.user-component__subtitle {
  font-size:16px;
  margin-top:7px;
  color: rgba(0,0,0,0.3);
}