

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.user-component__column {
  display:flex;
  align-items: center;
}

.user-component__column div{
  padding-bottom:10px;
}

.user-component:first-child {
  margin-bottom: 14px;
}
.user-component__avatar {
  width: 60px;
  height: 60px;
  border-radius: 25px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
  margin-left:-3px;
  margin-bottom:4px;
}

.user-component__subtitle {
  margin-top: 4px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl {
  width: 70px;
  height: 70px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}
.user-component__column__number {
  font-size:15px;
  font-weight:600;
  opacity:0.7;
}


.user-component__title--not-bold {
  font-weight: 400;
  opacity:0.9;
  padding:3px;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}  

.user-component__text span {
  display:block;
  margin-top:3px;
  opacity:0.24;
  font-weight:600;
}