
.recommended-friends {
  padding: 20px 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  color: var(--grey);
  font-weight: 600;
}

.recommended-friends span {
  padding: 110px 0;
  display:block;
  text-align: center;
  font-size:19px;
}

.open-chat__header{
  display:flex;
  padding-top:18px;
  justify-content:space-between;
  font-weight:600;
  opacity:0.35;
  margin-bottom:15px;
}

.open-chat__header span {
  opacity:0.6;
  font-weight:600;
}


.open-post {
  display:flex;
  justify-content:space-between;
  margin:20px 0;
  align-items:center;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom:15px;
}

.open-post__title{
  font-size:22px;
  opacity:0.9;
  padding-bottom:7px;
}
.open-post__tags {

  opacity:0.6;
  font-weight:500;
  font-size:18px;
  padding-bottom:8px;
}


.open-post__member {
  display:flex;
  align-items:center;
  font-weight:500;
  color:rgba(0,0,0,0.5);
}

.open-post__member img{
  width:20px;
  height:20px;
  border-radius:50%;
  margin-right:5px;
}

.open-post__member-status {
  color:#ff77cb;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius:10px;
}

.open-post__photo {
  position:relative;
}

.open-post__heart-count {
  background-color: rgba(0,0,0, 0.3);
  position:absolute;
  border-radius:15px;
  right:10px;
  bottom:10px;
  color:white;
  padding:3px 7px;
  font-size:14px;
  
}
.open-post__heart-count span {
  margin-left: 5px;
}

.onlyfindicon i {
  padding-bottom:30px;
}